<h1>Burger Buddies</h1>

<ul>
  {{#each burgers}}
  	<li>
  	   <p>ID: {{this.id}}</p>
       <p>Burger: {{this.burger_name}}</p>
  	</li>
  {{/each}}
</ul>

<div>
  <form action="/api/burger" method="POST">
  	<input type="text" name="burger_name"/>

  	<button type="submit">Submit</button>
  </form>
</div>